<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>Freemed-EMR</title>
    <link href="/src/vscode.ico" rel="shortcut icon">
    <link href="/src/dist/main.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="row">
                <a href="/index.html"><img src="/src/resources/img/freemed_logo_eng.png"  alt="freemed image" class="logo">
                   </a>
                <ul class="main-nav">
                    <li><a href="/src/views/receipt.html">접수</a></li>
                    <li><a href="/src/views/ocs.html">OCS</a></li>
                    <li><a href="/src/views/check.html">예진</a></li>
                    <li><a href="/src/views/main.html">본진</a></li>
                    <li><a href="/src/views/pharmacy.html">약국</a></li>
                    <li><a href="/src/views/management.html">약국 재고 관리</a></li>
                </ul>
            </div>

        </nav>
    </header>
    <section>
        <h1>재고관리</h1>
    </section>

    <script src="/src/dist/app.bundle.js"></script>
</body>

</html>